name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    permissions:
      actions: read
      contents: read
      security-events: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: csharp

      - name: Restore
        run: dotnet restore Planara.Gateway.sln

      - name: Build
        run: dotnet build Planara.Gateway.sln --no-restore -c Release /p:RunAnalyzersDuringBuild=true /p:TreatWarningsAsErrors=true

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3